<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include partials/header.ejs %>
    
  </head>
  <body>
    
    <%- include partials/nav_bar.ejs %>
    <h1>Welcome to the  <%= title %> page</h1>
    <%- include partials/footer.ejs %>
  </body>
</html>
